body {
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.displayCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.displayStart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.displayEnd {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.displaySpacebetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.displaySpacearound {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.displayColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logoImg {
  width: 150px;
}

.bgx1 {
  animation: rotating 26s linear infinite;
}

.bgx2 {
  animation: rotating2 6s linear infinite;
}

.crypto {
  animation: rotating3 3s linear infinite;
}
@keyframes rotating3 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotating2 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.sliderBox {
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background-color: #121212;
  border-top: 3px solid #e35f24;
  text-align: center;
}
.sliderBox img {
  width: auto;
  max-width: 165px;
}

.apexcharts-tooltip {
  border-radius: 5px;
  cursor: default;
  font-size: 14px;
  left: 62px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  z-index: 12;
  transition: 0.15s ease all;
  background: #194129;
}

.chartBox {
  position: relative;
  width: 190px !important;
}

.apexcharts-canvas {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 190px !important;
}

.shadeBox {
  right: auto;
  left: 0;
  width: 450px;
  /* bottom: auto; */
  filter: blur(230px);
  height: 550px;
  opacity: 0.55;
  top: 0;
  z-index: -1;
  position: absolute;
  transform: rotate(45deg);
  border-radius: 1000px;
  background-image: radial-gradient(36.67% 9.68% at 67.26% 8.27%, #ff6600 0%, rgba(255, 102, 0, 0.3098039216) 95.78%);
}

.orangeshadeBox {
  right: 0;
  left: auto;
  width: 450px;
  /* bottom: auto; */
  filter: blur(230px);
  height: 450px;
  opacity: 0.55;
  top: 51%;
  z-index: 99;
  position: absolute;
  transform: rotate(45deg);
  border-radius: 1000px;
  background-image: radial-gradient(36.67% 9.68% at 67.26% 8.27%, #ff6600 0%, rgba(255, 102, 0, 0.5411764706) 95.78%);
}

.orangeshadeBox1 {
  left: 10%;
  right: auto;
  width: 600px;
  /* bottom: auto; */
  opacity: 0.6;
  filter: blur(177px);
  height: 200px;
  border-radius: 1000px;
  top: 29%;
  z-index: 99;
  position: absolute;
  transform: rotate(132deg);
  background-image: radial-gradient(36.67% 9.68% at 67.26% 8.27%, #ff6600 0%, rgba(255, 102, 0, 0.78) 95.78%);
}

.purpleBox {
  left: 0;
  right: auto;
  width: 300px;
  /* bottom: auto; */
  filter: blur(230px);
  height: 300px;
  opacity: 0.55;
  top: 50%;
  z-index: 99;
  position: absolute;
  transform: rotate(45deg);
  border-radius: 1000px;
  background-image: radial-gradient(36.67% 9.68% at 67.26% 8.27%, #4800ff 0%, rgba(46, 17, 239, 0.87) 95.78%);
}

.purpleBox1 {
  right: 0;
  left: auto;
  width: 300px;
  bottom: auto;
  filter: blur(260px);
  height: 700px;
  opacity: 0.6;
  top: 0;
  z-index: 99;
  position: absolute;
  transform: rotate(45deg);
  border-radius: 1000px;
  background-image: radial-gradient(36.67% 9.68% at 67.26% 8.27%, #4800ff 0%, rgba(46, 17, 239, 0.87) 95.78%);
}

.glowing {
  animation: glowing 2s linear infinite;
}

@keyframes glowing {
  0% {
    box-shadow: 0px 0px 40px 25px rgba(255, 102, 0, 0.768627451);
  }
  50% {
    box-shadow: 0px 0px 45px 38px rgba(255, 102, 0, 0.66);
  }
  100% {
    box-shadow: 0px 0px 40px 25px rgba(255, 102, 0, 0.768627451);
  }
}
.livetrackBox::-webkit-scrollbar {
  display: none;
}

.livetrackBox {
  overflow: auto;
  max-height: 750px;
}

.sideMenuBox::-webkit-scrollbar {
  display: none;
}

.sideMenuBox {
  overflow: auto;
  height: calc(100vh - 201px);
}

.MuiBackdrop-root {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: -1;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-tap-highlight-color: transparent;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.trackbutton {
  height: 41px !important;
  padding: 10px 18px !important;
  font-size: 14px;
  background: transparent !important;
  box-shadow: 0 1px 0 0 #ad5165, 0 -1px 0 0 #7e46a1, 1px 0 0 0 #f5673f, -1px 0 0 0 #f5673f, 1px -1px 0 0 #f5673f, -1px 1px 0 0 #f5673f, 1px 1px 0 0 #f5673f, -1px -1px 0 0 #f5673f !important;
  font-weight: 600;
  line-height: 21px;
  /* margin-right: 10px; */
  border-radius: 10px;
  background-color: transparent !important;
}

.greenBox {
  width: 40px;
  height: 40px;
  background: #5cd748;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 33px;
}

.displayCenterStart {
  display: flex;
  align-items: center;
  justify-content: start;
}

.redBox {
  width: 40px;
  height: 40px;
  background: #ff3939;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 33px;
}

.barchart .apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
  color: #000 !important;
}
.barchart .apexcharts-tooltip.apexcharts-theme-light {
  color: #000 !important;
}

.MuiPaginationItem-page.Mui-selected {
  background-color: #ff6600;
}

.scrollLive {
  /* Track */
  /* Handle */
  /* Handle on hover */
  /* Show the scrollbar when hovering over the element */
}
.scrollLive ::-webkit-scrollbar {
  width: 8px;
}
.scrollLive ::-webkit-scrollbar-track {
  background: #2e2e2e;
}
.scrollLive ::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.scrollLive ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.scrollLive :hover::-webkit-scrollbar {
  display: block;
}

.TabBox .buttonBoxtab button {
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: 11px 0px;
  font-size: 16px;
  align-items: center;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  white-space: pre;
  text-decoration: none;
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.04);
}

.buttonAcc {
  color: #1c1c20;
  width: 100%;
  position: absolute;
  cursor: pointer;
  display: flex;
  bottom: 0;
  padding: 11px 0px;
  font-size: 16px;
  align-items: center;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  white-space: pre;
  text-decoration: none;
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.04);
}

.TabBox .buttonBoxtab button.active {
  color: #e9cb59;
  border: 1px solid #e9cb59;
}

::-webkit-scrollbar {
  display: none;
}

iframe {
  pointer-events: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px rgba(35, 35, 35, 0.1607843137);
}

@media (max-width: 1024px) {
  .shadeBox {
    display: none;
  }
  .logoImg {
    width: 119px;
  }
}
@media (max-width: 991px) {
  .shadeBox {
    display: none;
  }
  .logoImg {
    width: 119px;
  }
}
@media (max-width: 767px) {
  .shadeBox {
    display: none;
  }
  .logoImg {
    width: 119px;
  }
  .sliderBox img {
    width: auto;
    max-width: 135px;
  }
}/*# sourceMappingURL=main.css.map */